<div class="container">

    <form class="" name="vm.memberForm" ng-submit="vm.handleSubmit(vm.formData)" novalidate>
      <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" ng-model="vm.formData.personal.firstName" class="form-control" placeholder="First Name" required>
          <div class="help-block" ng-show="vm.memberForm.firstName.$invalid && !vm.memberForm.firstName.$prestine">
              <span ng-message>Please enter your name</span>
          </div>
      </div>

      <div class="form-group">
          <label>Lst Name</label>
          <input type="text" name="lastName" ng-model="vm.formData.personal.lastName" class="form-control" placeholder="Last Name" required="">
          <div class="help-block" ng-show="vm.memberForm.lastName.$invalid && !vm.memberForm.lastName.$prestine">
              <span ng-message>Please enter your name</span>
          </div>
      </div>

<!--       <div class="form-group">
          <label>Birth Date</label>
          <input type="date" name="birthDate" ng-model="vm.formData.personal.birthDate" class="form-control" placeholder="Birth Date" required="">

          <div class="help-block" ng-show="vm.memberForm.birthDate.$invalid && !vm.memberForm.birthDate.$prestine">
              <span ng-message>Please enter your name</span>
          </div>
      </div> -->

      <div class="form-group">
          <label>Education</label>
          <input type="text" name="education" ng-model="vm.formData.personal.education" class="form-control" placeholder="education">
      </div>

      <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" ng-model="vm.formData.corporate.contacts.email" class="form-control" placeholder="Email">
          <div class="help-block" ng-show="vm.memberForm.email.$invalid && !vm.memberForm.email.$prestine">
              <span ng-message>Please enter your name</span>
          </div>
      </div>

      <div class="form-group">
          <label>Skype</label>
          <input type="text" name="skype" ng-model="vm.formData.corporate.contacts.skype" class="form-control" placeholder="Skype">
          <div class="help-block" ng-show="vm.memberForm.skype.$invalid && !vm.memberForm.skype.$prestine">
              <span ng-message>Please enter your name</span>
          </div>
      </div>

      <div class="form-group">
          <label>Phone</label>
          <input type="text" name="phone" ng-model="vm.formData.corporate.contacts.phone" class="form-control" placeholder="Phone">
          <div class="help-block" ng-show="memberForm.phone.$invalid && !memberForm.phone.$prestine">
              <span ng-message>Please enter your name</span>
          </div>
      </div>

      <div class="form-group">
          <label>Occupation</label>
          <!-- <input type="text" name="occupation" ng-model="vm.formData.corporate.occupation" class="form-control" placeholder="Position"> -->
          <div class="help-block" ng-show="memberForm.occupation.$invalid && !memberForm.occupation.$prestine">
              <span ng-message>Please enter your name</span>
          </div>
      </div>

      <div class="form-group">
          <label>Role</label>
          <!-- <input type="text" name="role" ng-model="vm.formData.corporate.role" class="form-control" placeholder="Role"> -->
          <div class="help-block" ng-show="memberForm.role.$invalid && !memberForm.role.$prestine">
              <span ng-message>Please enter your name</span>
          </div>
      </div>

      <div class="form-group">
          <label>Skillset</label><br />
          <textarea name="name" name="skillset" rows="8" cols="100" ng-model="vm.formData.corporate.skillset"></textarea>
      </div>

      <div class="form-group">
          <button type="submit" class="btn btn-success" ng-disabled="vm.memberForm.$invalid">
              <span ng-if="isNew">Update</span>
              <span ng-if="!isNew">Add Member</span>
          </button>
      </div>

    </form>

    <div>
        {{vm.formData}} <br>
        {{memberForm.$valid}}
    </div>

</div>
